[submodule "reference/gnome-shell-extension-appindicator"]
	path = reference/gnome-shell-extension-appindicator
	url = https://github.com/ubuntu/gnome-shell-extension-appindicator.git
[submodule "reference/plasma-workspace"]
	path = reference/plasma-workspace
	url = https://github.com/KDE/plasma-workspace.git
[submodule "reference/libdbusmenu"]
	path = reference/libdbusmenu
	url = https://git.launchpad.net/libdbusmenu
